@model IEnumerable<MvcApplication5.Models.Document>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.idDocument)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nameDoc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Employee.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.mark)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Employee1.name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.idDocument)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nameDoc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Employee.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.mark)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Employee1.name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.idDocument }) |
            @Html.ActionLink("Details", "Details", new { id = item.idDocument }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.idDocument })
        </td>
    </tr>
}

</table>
