@model IEnumerable<MvcApplication5.Models.Document>

@{
    ViewBag.Title = "MarkingA";
}

<form action="/Worker/Index" method="get">
    <p>
        <input name="search" type="text" />
        <input type="submit" value="Search" />
    </p>
</form>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            Id Документа
        </th>
        <th>
            Название документа
        </th>
        <th>
            Дата создания
        </th>
        <th>
            Имя автора
        </th>
        <th>
            Подпись
        </th>
        <th>
            Имя подписанта
        </th>
        <th>
            Комментарий
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    if (MyRoleProvider.Role(User.Identity.Name, new string[] { "author" }))
    {
        if (item.mark == false)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.idDocument)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.nameDoc)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.author)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.mark)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.signer)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.comment)
                </td>
                <td>
                    <form action="/Worker/Download" method="post">
                        <input name="name" type="hidden" value=@Html.DisplayFor(modelItem => item.nameDoc) />
                        <input type="submit" value="Скачать файл" />
                    </form>
                    @Html.ActionLink("Edit", "Edit", new { id=item.idDocument }) |
                    @Html.ActionLink("Details", "Details", new { id = item.idDocument }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.idDocument })
                </td>
            </tr>
        }
    }
}

</table>
