@model IEnumerable<MvcApplication5.Models.Employee>

@{
    ViewBag.Title = "Index";
}
<form action="/Admin/Index" method="get">
    <p>
        <input name="search" type="text" />
        <input type="submit" value="Search" />
    </p>
</form>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            Имя пользователя
        </th>
        <th>
            Логин
        </th>
        <th>
            Пароль
        </th>
        <th>
            Роль пользователя
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.login)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.password)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Role.name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
